#title{
    text-align: center;
    color:skyblue;
    padding-top: 5%;

}
.in{
    text-align: center;
    padding-top: 2%;
}
#para{
    text-align: center;
    color: brown;
    padding-left:5%;
    padding-right: 5%;
}
.bd{
    text-align: center;
    padding-top: 1%;
}

