body{
    background-image:url("vam.jpg");
    background-size:cover;
    background-position:center;
    height:100vh;
}
#title{
    text-align: center;
    color:skyblue;
    padding-top: 5%;
    -webkit-text-stroke: 2px black;
    text-shadow:2px 2px 4px black;

}
.in{
    text-align: center;
    padding-top: 2%;
    
}
#para{
    text-align: center;
    color: white;
    padding-left:5%;
    padding-right: 5%;
    border-style:solid;
    border-radius:3px;
    background-color:lightblue;
}
.bd{
    text-align: center;
    padding-top: 2%;
}
.bt{
    width: 200px;
    button-radius: 3px;
    height: 25px;
}
.int{
    height: 25px;
    button-radius:3px;
}
.name{
    text-align:center;
    color:skyblue;
    text-shadow: 2px 2px 4px blue;
}